.top_img {
  width: 100%;
  height: 225px;
  overflow: hidden;
}

.top_img img {
  width: 100%;
  margin: -175px 0 0 0px;
}

.message {
  padding-left: 0px;
  background-color: #2F3136;
  border-radius: 5px;
  overflow: hidden;
}

.message h1 {
  color: #ffffff;
  color: #7e0000;
  padding-left: 7px;
}

.message h2 {
  color: #ffffff;
  font-size: 20px;
  padding-left: 7px;
}

.message p {
  color: #ffffff;
  font-size: 17px;
  padding-left: 10%;
}

.main_message {
  width: 30%;
  float: left;
  text-align: left;
  padding: 14px 1%;
  padding-left: 5%;
  padding-top: 5%;
}

.downloads {
  height: 50px;
  background-color: #2F3136;
}

.downloads a {
  background-color: #202225;
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 11px 16px;
  text-decoration: none;
  margin: 5px;
  margin-right: 30px;
  height: auto;
  border-radius: 20px;
}

.downloads a:hover {
  background-color: #7e0000;
}

#msgrght {
  width: 71%;
}