<!DOCTYPE html>
<html>

<header>
  <title>PaulN07's page</title>
  <link type="text/css" rel="stylesheet" href="static/css/base.css" />
  <link type="text/css" rel="stylesheet" href="static/css/about.css" />
  <script src="static/js/top_bar.js"></script>
  <script src="static/js/footer.js"></script>
  <script src="static/js/donate.js"></script>
  <script>
    topbar("about")
  </script>
</header>



<body class="page_content">
  <p style="background:#202225;">dark #202225</p>
  <p style="background:#2F3136;">middle #2F3136</p>
  <p style="background:#36393F;">background #36393F</p>
  <p style="background:#ffffff;">bright #ffffff</p>

  <div style="height: 200px;">

  </div>
</body>

</html>