{% extends "template.html" %}
{% block title %}Cart{% endblock %}
{% set newpages = {"cart":"Item Cart"} %}
{% set active='cart' %}


{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/shop.css') }}">
{% endblock %}

{% block content %}
<div class="sidebar">
  <table>
    <tr>
      <th>{{ session_name if not session_name == None else "Not logged in" }}</th>
    </tr>
    <tr>
      <th>Balance: </th>
      <th>{{ bal if not session_name == None else 0 }} coins</th>
    </tr>
  </table>
</div>

{% if cartItems|length  == 0 %}

<script>
  if (confirm("Your cart is empty\nGo to store.")) {
    window.location.href = "/shop";
  } else {
    history.go(-1);
  }

</script>

{% else %}


<div class="itemList">
  <table class="shopItem">
    {% for i in cartItems %}
    <form action="remove" method="post">
      <input type="hidden" name="id" value="{{i.id}}">
      <tr>
        <th style="width: 25%"><img src="{{i.image}}" alt="Shop Item image for: {{i.title}}"></th>
        <th>
          <div class="texts">
            <h2>{{i.title}}</h2>
            <p>{{i.description}}</p>
          </div>
        </th>
        <th>
          <div class="price">
            <h2>${{i.price}}</h2>
            <div class="buttons">
              <button class="rmb" type="submit" name="button">Remove from cart</button>
            </div>
          </div>
        </th>
      </tr>
    </form>
    {% endfor %}
    <tr>
      <th>
        <div class="texts">
          <h2>Total price</h2>
        </div>
      </th>
      <th>
        <div class="price">
          <h2 style="text-align: left">${{totalPrice}}</h2>
        </div>
      </th>
      <th style="width: 33%;">
        <div class="price">
          <div class="buttons">

            <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_xclick">
              <input type="hidden" name="business" value="NBP7ZB7W8YX9Q">
              <input type="hidden" name="lc" value="AU">
              <input type="hidden" name="item_name" value="{{ cartItemIds }}">
              <input type="hidden" name="amount" value="{{totalPrice}}">
              <input type="hidden" name="currency_code" value="USD">
              <input type="hidden" name="button_subtype" value="services">
              <input type="hidden" name="no_note" value="1">
              <input type="hidden" name="no_shipping" value="1">
              <input type="hidden" name="rm" value="1">
              <input type="hidden" name="return" value="https://{{request.headers['Host']+url_for("thank_you")+"?reason=purchase"}}">
              <input type="hidden" name="cancel_return" value="https://{{request.headers['Host']+url_for("home")}}">
              <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
              <input type="hidden" name="custom" value="{{g.id}}">
              <input type="hidden" name="notify_url" value="https://{{request.headers['Host']}}/paypal/ipn">
              <button class="rmb" type="submit" name="button">Go to checkout</button>
            </form>



          </div>
        </div>
      </th>
    </tr>
  </table>

</div>

{% endif %}

{% endblock %}
