{% extends "template.html" %}
{% block title %}Discord Bot{% endblock %}
{% set active='discord_bot' %}

{% block head %}
{{ super() }}
<link type="text/css" rel="stylesheet" href="static/css/discord_bot.css" />
{% endblock %}



{% block content %}
<div style="padding-top:33px;width:50%;" class="main_message">
  <div style="background-color: #36393F;" class="message">
    <h1>My Discord bot</h1>
    <h2>Discord bot statistics</h2>

    <table class="command_table">
      <tr>
        <td>number of severs bot is member</td><td>2</td>
      </tr><tr>
        <td>Total number of commands run</td><td>105</td>
      </tr><tr>
        <td>Bot version</td><td>2.5</td>
      </tr>
    </table>

    {% for i in table_data %}
    <h2>{{i[0][0][0]}}</h2>
    <table class="list_table">
      {% for row in i[1] %}
      <tr><td>{{row[0]}}</td><td>{{row[1]}}</td></tr>
      {% endfor %}
    </table>
    {% endfor %}

  </div>
</div>

<div style="padding-left:11%" class="main_message">
  <div id="msgrght" class="message container">
    <h1 style="padding-left: 20px;">Add my bot to your discord server</h1>
    <h2>Configure with commands:</h2>
    <p class="a">adminhelp</p>
    <p class="b">- Help for if u need it</p>
    <p class="a">chat &#60;channel&#62;</p>
    <p class="b">- Set the channel for the in-game chat</p>
    <p class="a">ascii [True/False]</p>
    <p class="b">- Configure ascii art allowance</p>
    <a id="AddButton" href="about:blank" target="_blank">Click to add Bot</a>
  </div>
</div>

<div style="padding-left:11%" class="main_message">
  <div id="msgrght" class="message container">
    <h1 style="padding-left: 20px;">Credits</h1>
    <h2>Code:</h2>
    <p class="a">99% of the code and ideas</p>
    <p class="b">- me</p>
    <p class="a">base queue api code</p>
    <p class="b">- @THE pumpkin GOD#9441</p>
    <p class="a">partial update</p>
    <p class="b">- @JKook#5140</p>
    <h2>API usage:</h2>
    <p class="a">receiving the in-game queue</p>
    <p class="b">- @THE pumpkin GOD#9441</p>
    <p class="a">minecraft server icon</p>
    <p class="b">- https://eu.mc-api.net/</p>
    <p class="a">minecraft server status</p>
    <p class="b">- https://mcapi.us/</p>
    <p class="a">minecraft user info</p>
    <p class="b">- https://crafatar.com/</p>
    <p style="padding-left: 7px"><strong>Note: </strong>run about for more info</p>
  </div>
</div>
{% endblock %}