{% extends "template.html" %}
{% block title %}HELP ME{% endblock %}
{% set newpages={"hidden_page":"Hidden Page"} %}
{% set active='hidden_page' %}

{% block content %}
<p style="color:#ffffff;">canceled as of 05/05/2019</p>

<p style="color: #36393F;">This project has been cancelled due to reasons regarding heigher powers<br>please send help - find me <br>i don't have much time left now<br>failure to do so will result in termination<br>they r comeing! byebye cruel
  world<br><br> from:
  RVhPODEtUGF1bE4wNy1FWE84MQ==</p>
<p style="color: #36393F;"><br><br><br>- .... . -.-- / -- ..- ... - / -... . / ... - --- .--. .--. . -.. / - .... . -.-- / .-- .. .-.. .-.. / -.. . ... - .-. --- -.-- / - .... . / . -. - .. .-. . / .. -. - . .-. -. . -</p>

<div style="height: 1px;">

</div>
{% endblock %}
