<a class="cat {% if active=='home' %}active{%endif %} home" href="{{ url_for('home') }}">Home</a>
<a class="cat {% if active=='about' %}active{%endif %} about" href="{{ url_for('about') }}">About</a>
<a class="cat {% if active=='discord_bot' %}active{%endif %} discord_bot" href="{{ url_for('discord_bot') }}">Discord Bot</a>
<a class="cat {% if active=='queue' %}active{%endif %} queue" href="{{ url_for('queue') }}">Queue</a>
<a class="cat {% if active=='res_pack' %}active{%endif %} res_pack" href="{{ url_for('res_pack') }}">Resource pack</a>
<a class="right" href="https://discord.gg/2wj94TP" target="_blank">Join my discord</a>