{% extends "template.html" %}
{% block title %}Queue{% endblock %}
{% set active='queue' %}

{% block head %}
{{ super() }}
<link type="text/css" rel="stylesheet" href="static/css/queue.css" />
{% endblock %}

{% block content %}
<h1>2B2T.org Queue</h1>
<div class="canvas">
  <canvas id="myChart" width="400" height="400"></canvas>
</div>

<script>
  var data = "{{queue}}";
</script>

<script src="static/js/Chart.bundle.min.js"></script>

<script>
  data = data.replace(/\\n/g, "\\n")
    .replace(/\\'/g, "\\'")
    .replace(/\\"/g, '\\"')
    .replace(/\\&/g, "\\&")
    .replace(/\\r/g, "\\r")
    .replace(/\\t/g, "\\t")
    .replace(/\\b/g, "\\b")
    .replace(/\\f/g, "\\f")
    .replace(/&#34;/g, "\"");
  // remove non-printable and other non-valid JSON chars
  data = data.replace(/[\u0000-\u0019]+/g, "");
  var newdata = JSON.parse(data.toString());

  var i = 0;
  for (i = 0; i < newdata.data.labels.length; i++) {
    newdata.data.labels[i] = new Date(newdata.data.labels[i])
  }

  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, newdata)
</script>

<div style="height: 1px;">

</div>
{% endblock %}