{% extends "template.html" %}
{% block title %}Resource Pack{% endblock %}
{% set active='res_pack' %}

{% block head %}
{{ super() }}
<link type="text/css" rel="stylesheet" href="static/css/res_pack.css" />
{% endblock %}

{% block content %}
<div class="top_img">
  <img src="static/images/image_top.png" alt="cool image of discord server">
</div>

<div class="downloads">
  <a href="{{download_data[0][1]}}" download="PaulN07_custompack_{{download_data[0][0]}}.zip">Download Latest</a>
  {% for i in download_data %}
  <a href="{{i[1]}}" download="PaulN07_custompack_{{i[0]}}.zip">Version {{i[0]}}</a>
  {% endfor %}
</div>

<div style="padding-top:33px;width:50%;" class="main_message">
  <div style="background-color: #36393F;" class="message mess2">
    <h1>Versions Changelog</h1>
    {% for i in download_data %}
    <h2>Version {{i[0]}}</h2>
    <p>
    {% for j in i[2] %}
    {{j}}<br>
    {% endfor %}
    </p>
    {% endfor %}
  </div>
</div>

<div style="padding-left:11%" class="main_message">
  <div id="msgrght" class="message container">
    <h1 style="padding-left: 20px;">Installation</h1>
    <h2>steps</h2>
    <p>step 1</p>
    <p>step 2</p>
    <p>step 3</p>
    <p>step 4</p>
    <p style="padding-left: 7px"><strong>Note: </strong> noted thing to say</p>
  </div>
</div>
{% endblock %}