{% extends "template.html" %}
{% block title %}Shop{% endblock %}
{% set active='shop' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/shop.css') }}">
{% endblock %}

{% block content %}

<div class="itemList">
  <table class="shopItem">
    {% for i in shopItems %}
    {% set i = shopItems[i] %}
    <tr>
      <th style="width: 25%"><img src="{{i.image}}" alt="Shop Item image for: {{i.title}}"></th>
      <th>
        <div class="texts">
          <h2>{{i.title}}</h2>
          <p>{{i.description}}</p>
        </div>
      </th>
      <th>
        <div class="price">
          <h2>${{i.price}}</h2>
          <div class="buttons">
            <form action="/buynow" method="post" name="shop">
              <input type="hidden" name="id" value="{{i.id}}">
              <button type="submit" name="button">Buy Now</button>
            </form>

            <form action="/add" method="post" name="shop">
              <input type="hidden" name="id" value="{{i.id}}">
              <button type="submit" name="button">Add to cart</button>
            </form>
          </div>
        </div>
      </th>
    </tr>
    {% endfor %}

    <tr>
      <th style="width: 25%"></th>
      <th></th>
      <th>
        <div class="price">
          <div class="buttons">
            <button type="button" style="width: 80%" onclick="location.href='/cart'" name="button">Goto cart</button>
          </div>
        </div>
      </th>
    </tr>
  </table>

</div>

<div class="sidebar">
  <table>
    <tr>
      <th>{{ session_name if not session_name == None else "Not logged in" }}</th>
    </tr>
    <tr>
      <th>Balance: </th>
      <th>{{ bal if not session_name == None else 0 }} coins</th>
    </tr>
  </table>
</div>

{% endblock %}
