<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <script src="{{ url_for('static', filename='js/donate.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/donate.css') }}" />
  <title>{% block title %}{% endblock %} - PaulN07's webpage</title>

  <div class="topnav">
    {% if not newpages %}{% set newpages = dict() %}{% endif %}
    {% set nav_list = dict({"home":"Home","discord_bot":"Discord Bot","queue":"Queue","res_pack":"Resource Pack", "shop":"Shop"}, **newpages) %}
    {% for i in nav_list %}
    <a class="cat {% if active==i %}active{%endif %} {{i}}" href="{{ url_for(i) }}">{{nav_list[i]}}</a>
    {% endfor %}


    {% if g.username %}
    <div class="dropdown">
      <button class="dropbtn right">{{g.username}}</button>
      <div class="dropdown-content">
        <a href="https://discord.gg/2wj94TP" target="_blank">Join the discord</a>
        <a href="/me">My profile</a>
        <a href="/logout">Log out</a>
      </div>
    </div>
    {% else %}
    <div class="dropdown">
      <button class="dropbtn right">Login with discord</button>
      <div class="dropdown-content">
        <a href="https://discord.gg/2wj94TP" target="_blank">Join the discord</a>
        <a href="/login">Login</a>
      </div>
    </div>
    {% endif %}
    <a href="/cart"><img class="cart_link" src="static/images/cart.png" alt="shopping cart"></a>
  </div>
  {% endblock %}
</head>

<body>

  <div class="id562">
    <div id="myForm">
      <div class="overlay">
        <div class="donate">
          <h1>Donate</h1>
          <table>
            <tr>
              <td class="dleft">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"> <input type="hidden" name="cmd" value="_s-xclick" /> <input type="hidden" name="hosted_button_id" value="P8F897U3VR32U" /> <input type="image"
                    src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" /> </form> <img src="static/images/bitcoin.png"
                  alt="bitcoin request qr code">
              </td>
              <td class="dright">
                <h2>For as little as $1USD you can help support development of projects</h2>
                <p>important reason to use thisimportant reason to use thisimportant reason to use thisimportant reason to use thisimportant reason to use thisimportant reason to use thisimportant reason to use thisimportant reason to use this</p>
              </td>
            </tr>
          </table>
          <div class="dbottom">
            <p class="bitc">bitcoin address: bc1qh3kmyz4tmet5j0h4gsalua9hr0lmxrpk6nmjv99rlw3279c20vkqsjwu6q</p> <span class="fake-link close" onclick="closeForm()" name="button">Cancel</span>
            <p><br><br><br></p>
          </div>
        </div>
      </div>
    </div>

    <div class="content">{% block content %}{% endblock %}</div>
    <div class="footer">
      <table>
        <tr>
          <td>
            <p><a href="#terms">Terms</a></p>
          </td>
          <td>
            <p><a class="fake-link" onclick="openForm()">Donate</a></p>
          </td>
          <td>
            <a style="color: #202225" href="/help">____</a>
          </td>
          <td>
            <p>Conact: <a href="#conact">examplemail@email.com</a></p>
          </td>
          <td>
            <p>@PaulN07#2596</p>
          </td>
          <td>
            <a href="https://github.com/JamesPerisher"><img class="img" src="static/images/github_icon.svg"></a>
          </td>
        </tr>
      </table>
    </div>
</body>

</html>
