{% extends "template.html" %}
{% block title %}About{% endblock %}
{% set active='about' %}

{% block head %}
{{ super() }}
<link type="text/css" rel="stylesheet" href="static/css/thank_you.css">
{% endblock %}


{% block content %}
<div class="thcontent">
  <h1>Thank you for donating.</h1>
  <p>You donation is apreciated reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasonss</p>
</div>
{% endblock %}