<!DOCTYPE html>
<html>

<header>
  <title>PaulN07's page</title>
  <link type="text/css" rel="stylesheet" href="static/css/base.css" />
  <link type="text/css" rel="stylesheet" href="static/css/thank_you.css">
  <script src="static/js/top_bar.js"></script>
  <script>
    topbar("thank_you")
  </script>

  <script>
    document.getElementsByClassName("bad_page")[0].innerText = "Thank You";
  </script>
</header>



<body class="page_content">
  <div class="content">
    <h1>Thank you for donating.</h1>
    <p>You donation is apreciated reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasons reasonss</p>
  </div>
</body>

</html>